/* .content{
    padding:16px;
}
.content> mat-card {
    width:10px;

} */


*{
    background-color: rgb(248, 222, 179);
    
}

.mat-card-image{
    height: 400px;
    width: 600px;
    /* margin-left: %; */
    /* margin-top: 5%; */
}

.example-card{
    width: 100%;
    
  }
  .example-button-row{
      margin-left: 10%;
  }
 
  .ims{
      display: flex;
      justify-content: center;
  }