<div class="img">
  
    <div class="right">
      <!-- <h2>starinsurance@policy.com</h2> -->
      <a href="mailto:starinsurance@policy.com">starinsurance@policy.com</a>
    </div>

    

    <div class="left">
      <h3>REGISTERED OFFICE ADDRESS</h3>
   

      <p>Star Insurance Co. Limited</p>

      <p>Star Complex Towers</p>

      <p>No.5/438 , Rajiv Gandhi Salai (OMR)</p>

      <p>Vijay Nagar , Indore - 452001</p>

      <p>Tel: 91-44-7117 0000</p>

      <p>Fax: 91-44-7113 000</p>
    </div>  
    
  </div>
