.center{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.info{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}
*{
    background-color: rgb(230, 226, 226);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;

}
