
<div class="about">

<div class="center">
<h1>About Star Insurance Co. Limited</h1>
</div>

<div class="info">
    <p>Star Insurance Co. Limited (formerly known as Star Alliance Insurance Company Limited), 
        is the best private sector general insurance company in India to be licensed in October 2015 by the Insurance Regulatory 
        and Development Authority of India. The company was initially promoted as a joint venture by Star Finance, one of the
         most respected non-banking financial institutions (NBFCs) in India and other Indian Shareholders.</p><br>

         <p>In February 2019, Ageas Insurance International N.V. acquired 40% 
             equity stake in Star from the existing Indian Shareholders 
             after necessary Regulatory approvals. Consequent to this divestment,
              the stake of Star Finance in our company is currently at 50%, Ageas 
              Insurance holds 40% and the other Indian shareholders hold the remaining 10%.</p><br>

              <p>Star has been providing innovative general insurance 
                  solutions to individuals, families and businesses directly as 
                  well as through its intermediaries and affinity partners. 
                  The company offers  Family Insurance to individual customers and offers specialized 
                  insurance products in fire, marine, engineering, liability and business 
                  interruption risks to commercial customers. Star also offers specially 
                  designed products to the small and medium enterprises and rural customers as well. 
                  The company is a pioneer in bancassurance in India, having long-standing tie-ups 
                  with reputed banks and NBFCs.</p><br>

                  <p>Star has over 2000 employees with 158 branches across India and its products are 
                      distributed through various channels-agents, distribution partners, affinity partners, brokers and online.</p><br>

                    </div>
        
            



</div>