
<header>
    <div class="nav">
      
      <div class="logo">
        <img src="../assets/pic.png" height="60px">
        <h1 style="color: white;">Star Health Insurance</h1>
      
      
       <ul>
        <li><a [routerLink]="['home']">Home</a></li>
         <!-- <li><a [routerLink]="['registration']">Registration</a></li>  -->
        <li><a [routerLink]="['about-us']">AboutUs</a></li>
        <li><a [routerLink]="['contact-us']">ContactUs</a></li>
        <li><a [routerLink]="['login']">Login</a></li>
      </ul>
    </div>
   </div>
    
  </header>  

<!-- <app-insurance></app-insurance> -->
<!-- <app-login></app-login>
<app-registration></app-registration> -->
<router-outlet></router-outlet>