 .nav{
    overflow: hidden;
    background-color: chocolate;
    
    padding:14px;
    width:100%;
    
   
}
.nav a{
  float: left;
  color: navy;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav ul{
    list-style-type: none;
    float: left;
    margin-left: 450px;
    margin-top: 30px;
}
.nav li{
   padding-left: 30px;
   padding-right: 30px;
   display: inline;
   float: left;
}
.nav a{
    display: block;
    font-size: 20px;
}
.logo{
    display: flex;
    
}

.logo h1{
    margin-top: 25px;
}
.nav ul li a:hover{
     color: #F0EAE6;   
     text-decoration: underline;
} 

